body,html {
    background-color: khaki;
}


.header-1 {
    background-color: #6B6B6B;
    padding: 0.7em;
    margin-left: -1.1em;
    width: 102.4%;
}

.header-txt {
    color: bisque;
    text-decoration: none;
    font-weight: bold;
}

.header-txt:hover {
    text-decoration: none;
    color: cadetblue;
}

.header-txt-two {
    text-decoration: none;
    color: greenyellow;
    font-weight: bold;
    margin-left: 54em;
}

.header-txt-two:hover {
    text-decoration: none;
    color: cornflowerblue;
}

.header-txt-three {
    text-decoration: none;
    color: greenyellow;
    font-weight: bold;
    margin-left: 2em;
}

.header-txt-three:hover {
    text-decoration: none;
    color: cornflowerblue;
}

.header-txt-four {
    text-decoration: none;
    font-weight: bold;
    color: greenyellow;
    margin-left: 4em;
}

.header-txt-four:hover {
    text-decoration: none;
    color: cornflowerblue;
}

.header-txt-five {
    text-decoration: none;
    color: greenyellow;
    font-weight: bold;
}

.header-txt-five:hover {
    text-decoration: none;
    color: cornflowerblue;
}

.body-1 {
    border: 1px solid grey;
    margin-left: 22em;
    margin-top: 7em;
    width: 52%;
    padding: 3em;
    height: 30em;
}

#btn {
    margin-top: -5em;
    margin-left: 23em;
    width: 21em;
}